autogen-agentchat==0.5.6
autogen-core==0.5.6
chromadb==1.0.8
fastapi==0.115.9
langchain-community==0.3.23
langchain_openai
openai==1.78.0
pypdf==5.4.0
PyPika==0.48.9
requests==2.32.3
six==1.17.0
tiktoken==0.9.0
uvicorn==0.34.2